In [11]:
import pandas as pd
stats = pd.read_pickle("data/statistics.pkl")
jobs_df = pd.read_pickle("data/jobs.pkl")
display(stats)
display(jobs_df)

,Date,junior+data+scientist,junior+data+science,junior+data+analyst,junior+data+analysis
0,04.09.2023,0,0,0,0
1,05.09.2023,3,NaN,NaN,NaN
2,06.09.2023,0,NaN,NaN,NaN
3,07.09.2023,0,1,16,18
4,08.09.2023,8,4,2,1
5,09.09.2023,0,6,0,0
6,10.09.2023,5,0,0,0
7,11.09.2023,1,4,0,1
8,12.09.2023,1,2,0,2
9,13.09.2023,0,0,0,0
10,14.09.2023,0,1,0,0
11,15.09.2023,5,0,258,0
12,18.09.2023,0,0,0,1
13,19.09.2023,647,0,0,0

,Titel,Unternehmen,Ort,Gehalt_min,Gehalt_max,JobID,Link,Datum,Teilzeit_Remote,Introduction,Description,Profile,We_offer,Contact
0,(Junior) Data Scientist (m/w/d),KMH GmbH,Köln,4032,5726,57650956,https://www.stepstone.de/stellenangebote--juni...,2023-09-04,"Vollzeit, Teilzeit, Home Office möglich",Wir suchen in Voll- oder Teilzeit\nWir suchen ...,Entwicklung und Implementierung von Algorith­m...,Berufserfahrung im oben genannten Aufgaben­ber...,Freie Hardwarewahl nach deinen Wünschen inkl. ...,Wir freuen uns über deine Bewerbung!\n\n KMH G...
1,Junior Data Scientist (m/w/d),TUI Cruises GmbH,Hamburg,3548,5081,57605321,https://www.stepstone.de/stellenangebote--juni...,2023-09-04,"Vollzeit, Home Office möglich",TUI Cruises ist einer der führenden Kreuzfahrt...,"Du analysierst große, komplexe Datensätze mit ...",Bachelor Abschluss in (Wirtschafts-)Informatik...,Eine flexible Arbeitszeitkultur mit zwei Mobil...,TUI Cruises GmbH \nHeidenkampsweg 58\n20097 Ha...
2,Junior Data Scientist (m/f/x),TUI Cruises GmbH,Hamburg,3548,5081,57605323,https://www.stepstone.de/stellenangebote--juni...,2023-09-04,"Vollzeit, Home Office möglich",TUI Cruises is one of the leading cruise provi...,"Analyze large, complex datasets to extract ins...","Bachelor’s degree in Computer Science, Data Sc...",A flexible working time culture with two mobil...,TUI Cruises GmbH \nHeidenkampsweg 58\n20097 Ha...
3,(Junior) Data Scientist / Data Analyst (w/m/d),1&1,"Karlsruhe, Montabaur, Maintal",3871,6129,57608864,https://www.stepstone.de/stellenangebote--juni...,2023-09-04,"Vollzeit, Home Office möglich",Mit rund 15 Mio. Kundenverträgen und 3.200 Mit...,"Für unsere Abteilung ""Customer Decisioning"" su...",Gute Deutschkenntnisse in Wort und Schrift\nEr...,Attraktives Gehalt\nVertrauensarbeitszeit mit ...,
4,Junior Data Scientist (m/w/d) – Risikomodelle,Sparkassen Rating und Risikosysteme GmbH,Berlin,3710,5161,57181289,https://www.stepstone.de/stellenangebote--juni...,2023-09-04,"Vollzeit, Home Office möglich",Die Sparkassen Rating und Risikosysteme (SR) i...,Mitarbeit an Gremien- oder Kundenprojekten im ...,Abgeschlossenes Studium (ggf. Promotion) im Be...,Eine unbefristete Tätigkeit in einem hoch vers...,Herr Emanuel Reitzenstein Tel. +49 30 20672-0 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7493,(Junior) IT-Security Engineer (m/w/d),Schwarz Dienstleistungen,Neckarsulm (hybrid),,,57717593,https://www.stepstone.de/stellenangebote--Juni...,2023-09-19,"Vollzeit, Home Office möglich",,"Du unterstützt das Team im Design, Aufbau und ...",Du hast eine erfolgreich abgeschlossene Ausbil...,Arbeitszeiten: Flexible Arbeitszeiten ermöglic...,Wir freuen uns auf deine Bewerbung!\nSchwarz D...
7494,Junior IT Projektmanager international (w/m/d),Bechtle GmbH IT-Systemhaus Bielefeld,Schloß Holte-Stukenbrock,3548,4919,57695886,https://www.stepstone.de/stellenangebote--Juni...,2023-09-19,"Vollzeit, Home Office möglich",Mit über 12.800 Mitarbeitenden sind wir eines ...,\nBegleitung und Steuerung von weltweiten IT-...,\nabgeschlossenes Studium der Wirtschaftsinfo...,\nWeiterentwicklung: Mit einem umfangreichen ...,
7495,(Junior) Software-Projektleiter (m/w/d) Lichte...,HELLA Gruppe,Lippstadt,4194,6290,57670291,https://www.stepstone.de/stellenangebote--juni...,2023-09-19,"Vollzeit, Home Office möglich",,Im Geschäftsbereich Elektronik sind Sie im Ber...,Abgeschlossenes Studium der Fachrichtung Elekt...,Umfangreiche Karriere- und Weiterbildungsmögli...,
7496,junior controller schwerpunkt transferpreise (...,UVEX SAFETY GROUP GmbH & Co. KG,Fürth,3306,4355,57695592,https://www.stepstone.de/stellenangebote--juni...,2023-09-19,"Vollzeit, Home Office möglich",Ihr Arbeitsplatz In Ihrem neuen Team MBU Contr...,,,,
7497,(Junior) Controller*in (d/m/w) im Maschinen- u...,IMA Benhil GmbH,Neuss,2903,4435,57670434,https://www.stepstone.de/stellenangebote--juni...,2023-09-19,Vollzeit,Verpackungen sind unser Ding. Und die Zufriede...,Verantwortung für eine aussage­kräftige Kosten...,Abgeschlossenes Studium FH/Uni in BW/Controlli...,Sicherer Arbeitsplatz in einer stabilen Branch...,"Benhil GmbH, NeussJulia Oversberg+49 2131 9952..."

In [3]:
staedte_list = list(jobs_df["Ort"].values)

seperators = [",", "oder"]
staedte_list_corr = []
for seperator in seperators:
	for staedte in staedte_list:
		for i in staedte.split(seperator):
			staedte_list_corr.append(i.strip())
	staedte_list = staedte_list_corr
	staedte_list_corr = []

# Duplikate und Fehler korrigieren
# remote = ["bundesweit", "Home Office", "Alle Standorte", "DE", "Bundesweit", "GERMANY"]
# berlin = ["Berlin", "BERLIN"]
# empty = "" # leerer String
# 		# zahlen


staedte_list

['Köln',
 'Hamburg',
 'Hamburg',
 'Karlsruhe',
 'Montabaur',
 'Maintal',
 'Berlin',
 'Unterföhring (bei München)',
 'Ober-Ramstadt bei Darmstadt',
 'Köln',
 'Hamburg',
 'München',
 'Dortmund',
 'Heidelberg',
 'Dresden',
 'Hamburg',
 'Berlin',
 'Bielefeld',
 'Coburg',
 'Schweinfurt',
 'Karlsruhe',
 'Freiburg im Breisgau',
 'Mannheim',
 'Pforzheim',
 'Stuttgart',
 'Heilbronn',
 'Darmstadt',
 'Rheine',
 'Darmstadt bei Frankfurt am Main',
 'Weeze',
 'Berlin',
 'Weinheim',
 'Düsseldorf',
 'Hamburg - tesa Werk Hamburg',
 'bundesweit',
 'Berlin',
 'Frankfurt am Main',
 'Hamburg',
 'Köln',
 'Leipzig',
 'München',
 'Frankfurt am Main',
 'Hamburg',
 'Leipzig',
 'München',
 'Stuttgart',
 'Walldorf',
 'Berlin',
 'Düsseldorf',
 'Berlin',
 'Germany',
 'Würzburg',
 'Oberkochen (Baden-Württemberg)',
 'Fellbach bei Stuttgart',
 'Oberursel',
 'Essen',
 'Heilbronn',
 'Oberkochen (Baden-Württemberg)',
 'Stuttgart',
 'Berlin',
 'Hamburg',
 'München',
 'Frankfurt am Main',
 'Düsseldorf',
 'Stuttgart',
 'Karlsruhe',
 'Maintal',
 'Montabaur',
 'Heilbronn',
 'BERLIN',
 'GERMANY',
 'Lindau (Bodensee) bei Ravensburg',
 'Karlsruhe',
 'Home-Office',
 'Hamburg',
 'Berlin',
 'Frankfurt am Main',
 'Augsburg',
 'Hamburg',
 'Hamburg',
 'Hannover',
 'Berlin',
 'Norderstedt bei Hamburg',
 'Oberkochen (Baden-Württemberg)',
 'Stuttgart',
 'Marburg',
 'Stuttgart',
 'Planegg',
 'Bergisch Gladbach',
 'Krefeld',
 'Hannover',
 'Leipzig',
 'Düsseldorf',
 'Berlin',
 'Frankfurt am Main',
 'Hamburg',
 'Köln',
 'Leipzig',
 'München',
 'Frankfurt am Main',
 'München',
 'München',
 'München',
 'Nürnberg',
 'München',
 'Unterföhring (bei München)',
 'Stuttgart',
 'Frankfurt am Main',
 'Mülheim an der Ruhr',
 'München',
 'Berlin',
 'Bielefeld',
 'Essen',
 'Düsseldorf',
 'Essen',
 'München',
 'bundesweit',
 'Halle',
 'Hamburg',
 'Köln',
 'Berlin',
 'Renningen',
 'Bochum',
 'Berlin',
 'Bergisch-Gladbach',
 'Salzgitter',
 'Montabaur',
 'Karlsruhe',
 'Frankfurt/Main',
 'Frankfurt am Main',
 'Mayen',
 'Essen',
 'Hamburg',
 'Herford',
 'bundesweit',
 'Berlin',
 'Frankfurt am Main',
 'Hamburg',
 'Köln',
 'Leipzig',
 'München',
 'bundesweit',
 'Berlin',
 'Frankfurt',
 'Hamburg',
 'Köln',
 'Leipzig',
 'München',
 'Markdorf',
 'Alle Standorte',
 'Berlin',
 'Frankfurt am Main',
 'Hamburg',
 'Köln',
 'Leipzig',
 'München',
 'Frankfurt am Main',
 'Berlin',
 'München',
 'bundesweit',
 'Essen',
 'Berlin',
 'Düsseldorf',
 'Frankfurt am Main',
 'Hamburg',
 'Leipzig',
 'München',
 'Stuttgart',
 'Walldorf',
 'Berlin',
 'Düsseldorf',
 'Frankfurt am Main',
 'Hamburg',
 'Leipzig',
 'München',
 'Stuttgart',
 'Walldorf',
 'bundesweit',
 'Berlin',
 'Frankfurt',
 'Hamburg',
 'Köln',
 'Leipzig',
 'München',
 'bundesweit',
 'Berlin',
 'Frankfurt am Main',
 'Hamburg',
 'Köln',
 'Leipzig',
 'München',
 'Langen (Hessen)',
 'Berlin',
 'Düsseldorf',
 'Frankfurt am Main',
 'Hamburg',
 'Leipzig',
 'München',
 'Stuttgart',
 'Walldorf',
 'Herne',
 'München',
 'Berlin',
 'Düsseldorf',
 'Frankfurt am Main',
 'Hamburg',
 'Leipzig',
 'München',
 'Stuttgart',
 'Walldorf',
 'Berlin',
 'Düsseldorf',
 'Frankfurt am Main',
 'Hamburg',
 'Leipzig',
 'München',
 'Stuttgart',
 'Walldorf',
 'München',
 'Renningen',
 'Künzelsau',
 'Heilbronn',
 'Leipzig',
 'Bielefeld',
 'Dresden',
 'Bremen',
 'Freiburg',
 'Essen',
 'Mainz',
 'Karlsruhe',
 'Dortmund',
 'Regensburg',
 'Berlin',
 'Frankfurt',
 'Hamburg',
 'München',
 'Köln',
 'Düsseldorf',
 'Stuttgart',
 'Hannover',
 'Nürnberg',
 'Mannheim',
 '',
 'Ingelheim',
 'Rohrdorf',
 'Mainz',
 'Hamburg',
 'Hamburg',
 'Berlin',
 'Düsseldorf',
 'Frankfurt am Main',
 'Hamburg',
 'Leipzig',
 'München',
 'Stuttgart',
 'Walldorf',
 'Berlin',
 'Düsseldorf',
 'Frankfurt am Main',
 'Hamburg',
 'Leipzig',
 'München',
 'Stuttgart',
 'Walldorf',
 'Tübingen',
 'Mainz',
 'Mainz',
 'Freiburg im Breisgau',
 'Oberkochen (Baden-Württemberg)',
 'Mainz',
 'München',
 'Potsdam bei Berlin',
 'Planegg',
 'Eppelheim bei Heidelberg',
 'München',
 'Aalen',
 '',
 'Aalen (Baden-Württemberg)',
 'Hilden bei Düsseldorf',
 'Mainz',
 'Köln',
 'Dortmund',
 'Düsseldorf',
 'München',
 'Hamburg',
 'Berlin',
 'Frankfurt',
 'Stuttgart',
 'Leipzig',
 'Essen',
 'Bremen',
 'Jena',
 'Hannover',
 'Cambridge',
 'Mainz or London',
 'Mainz',
 'Luxembourg',
 'Offenbach am Main',
 'München',
 'Tübingen bei Stuttgart',
 'Lemgo',
 'Essen (45359)',
 'Heidelberg',
 'Oberkochen (Baden-Württemberg)',
 'Remscheid',
 'Hamburg',
 'Luxemburg',
 'Luxembourg',
 'München',
 'Mannheim',
 'Stuttgart',
 'Stuttgart',
 'Berlin',
 'Bayern',
 'Regensburg',
 'Bornheim bei Landau/Pfalz',
 'Oberkochen (Baden-Württemberg)',
 'Köln',
 'Hamburg',
 'Hamburg',
 'Berlin',
 'BERLIN',
 'GERMANY',
 'Berlin',
 'Wuppertal',
 'Oberkochen (Baden-Württemberg)',
 'Karlsruhe',
 'Ingelfingen-Criesbach',
 'Berlin',
 'Dettingen an der Erms',
 'Schwabenheim an der Selz bei Mainz',
 'Papenburg',
 'Lüneburg',
 'Flensburg',
 'Renningen',
 'Schwabenheim an der Selz bei Mainz',
 'Karlsruhe',
 'Berlin',
 'Unterföhring (bei München)',
 'Unterföhring (bei München)',
 'Berlin',
 'Frankfurt am Main',
 'Hamburg',
 'Köln',
 'München',
 'Stuttgart',
 'Berlin',
 'bundesweit',
 'Düsseldorf',
 'Essen',
 'Frankfurt/M.',
 'Hamburg',
 'Karlsruhe',
 'Köln',
 'München',
 'Hamburg',
 'Hamburg',
 'Berlin',
 'Düsseldorf',
 'Essen',
 'Frankfurt/M.',
 'Hamburg',
 'Karlsruhe',
 'Köln',
 'München',
 'Stuttgart',
 'Glashütte (Raum Dresden)',
 'Renningen',
 'Leipzig',
 'München',
 'Stuttgart',
 'Walldorf',
 'Berlin',
 'Düsseldorf',
 'Frankfurt am Main',
 'Hamburg',
 'Coburg',
 'München',
 'München',
 'München',
 'Köln',
 'Stuttgart',
 'Düsseldorf',
 'Nürnberg',
 'Bundesweit',
 'Düsseldorf',
 'Dortmund',
 'Köln',
 'Frankfurt am Main',
 'Hamburg',
 'Stuttgart',
 'Berlin',
 'Home-Office',
 'München',
 'Home Office or Berlin',
 'Germany',
 'Köln',
 'Darmstadt bei Frankfurt am Main',
 'Bielefeld',
 'München',
 'Frankfurt',
 'Karlsruhe',
 'München',
 'Reutlingen',
 'Düsseldorf',
 'Nürnberg',
 'Essen',
 'Frankfurt am Main',
 'Düsseldorf',
 'Oberkochen (Baden-Württemberg)',
 'bundesweit',
 'Berlin',
 'Hamburg',
 'München',
 'Köln',
 'Frankfurt a. M.',
 'Stuttgart',
 'Dresden',
 'Dortmund',
 'Kempten',
 'Karlsruhe',
 'Düsseldorf',
 'Bochum',
 'Berlin',
 'Wiesbaden',
 'Hamburg',
 'bundesweit',
 'Bremen',
 'Stuhr',
 'Neckarsulm',
 'Essen',
 'Köln',
 'Bundesweit',
 'Düsseldorf',
 'Dortmund',
 'Köln',
 'Frankfurt am Main',
 'Hamburg',
 'Stuttgart',
 'Köln',
 'Karlsruhe',
 'Hamburg',
 'Stuttgart',
 'Berlin',
 'Frankfurt am Main',
 'Hamburg',
 'Köln',
 'Leipzig',
 'München',
 'Berlin',
 'Düsseldorf',
 'Köln',
 'München',
 'Frankfurt',
 'Hamburg',
 'Frankfurt',
 'Hamburg',
 'Berlin',
 'Mannheim',
 'Hamburg',
 'Frankfurt am Main',
 'Bad Schwartau',
 'Ahrensburg',
 'Illerrieden',
 'Köln',
 'Hamburg',
 'Kiel',
 'Bremen',
 'Lübeck',
 'Lüneburg',
 'bundesweit',
 'Berlin',
 'Frankfurt am Main',
 'Hamburg',
 'Köln',
 'Leipzig',
 'München',
 'Berlin',
 'Frankfurt',
 'Hamburg',
 'München',
 'Nürnberg',
 'Ulm',
 'Bonn',
 'bundesweit',
 'Hamburg',
 'Dortmund',
 'Bielefeld',
 'Stuttgart',
 'Walldorf',
 'Berlin',
 'Düsseldorf',
 'Frankfurt am Main',
 'Hamburg',
 'Leipzig',
 'München',
 'Bruchsal',
 'Frankfurt am Main',
 'München',
 'Stuttgart',
 'Berlin',
 'Hamburg',
 'Düsseldorf',
 'Alle Standorte',
 'Berlin',
 'Frankfurt am Main',
 'Hamburg',
 'Köln',
 'Leipzig',
 'München',
 'München',
 'Köln',
 'Köln',
 'Essen',
 'Berlin',
 'Augsburg',
 'Bayreuth',
 'Chemnitz',
 'Landshut',
 'München',
 'Nürnberg',
 'Regensburg',
 'Würzburg',
 'Ismaning',
 'Unterlüß bei Celle',
 'Hamburg',
 'Oberkochen (Baden-Württemberg)',
 'Oberkochen',
 'Ahrensburg bei Hamburg',
 'Oberkochen',
 'Darmstadt',
 'Essen',
 'Esslingen am Neckar',
 'Hagen',
 'Weeze',
 'Budenheim',
 'Boppard',
 'Köln',
 'Nürnberg',
 'Ratingen',
 'Hamburg',
 'Berlin',
 'Frankfurt',
 'Düsseldorf',
 'München',
 'Stuttgart',
 'Köln',
 'Hannover',
 'Innsbruck',
 'Bochum',
 'Frankfurt am Main',
 'Ochsenhausen',
 'Hilchenbach',
 'Mönchengladbach',
 'Bonn',
 'Frankfurt',
 'Hamburg',
 'Essen',
 'Düsseldorf',
 'München',
 'Karlsruhe',
 'Berlin',
 'Köln',
 'Wiesbaden',
 'Stuttgart',
 'Trierweiler',
 'Bochum',
 'Hamburg',
 'Hamburg',
 'Berlin',
 'Berlin',
 'Köln',
 'München',
 'Münster',
 'Köln',
 'Stuttgart',
 'Frechen bei Köln',
 'Herzogenrath',
 'Essen',
 'Hamburg',
 'Hannover',
 'Hilden',
 'Köln',
 'Stuttgart',
 'Kassel',
 'Karlsruhe',
 'Frankfurt am Main',
 'Berlin',
 'München',
 'Thayngen',
 'Peine',
 'Magdeburg',
 'Weeze',
 'Düsseldorf',
 'München',
 'Karlsruhe',
 'Frankfurt am Main',
 'Berlin',
 'München',
 'Leipzig',
 'Delitzsch',
 'Mobile Working',
 'Baden-Baden',
 'Essen',
 'Berlin',
 'Hamburg',
 'München',
 'Köln',
 'Frankfurt a. M.',
 'Stuttgart',
 'Dresden',
 'Dortmund',
 'Kempten',
 'Karlsruhe',
 'Bad Urach',
 'Hamburg',
 'Gera',
 'Ochsenhausen',
 'Pasewalk',
 'Berlin',
 'Potsdam',
 'Dresden',
 'Leipzig',
 'Brandenburg',
 'Mecklenburg-Vorpommern',
 'Hamburg',
 'Rostock',
 'Straelen',
 'Berlin (Schöneberg)',
 'Braunschweig',
 'Aachen',
 'Berlin',
 'Bielefeld',
 'Bremen',
 'Dortmund',
 'Düsseldorf',
 'Essen',
 'Hamburg',
 'Hannover',
 'Köln',
 'Münster',
 'Bonn',
 'Darmstadt',
 'Frankfurt',
 'Freiburg',
 'Karlsruhe',
 'Mainz',
 'Mannheim',
 'München',
 'Nürnberg',
 'Stuttgart',
 'Hamburg',
 'Bühl',
 'Darmstadt',
 'Köln',
 'Filderstadt bei Stuttgart',
 'Stuttgart',
 'Großbritannien',
 'Braak bei Hamburg',
 'Köln',
 'Home-Office',
 'Karlsruhe',
 'Köln',
 'Köln',
 'Lünen',
 'bundesweit',
 'Weiden',
 'München',
 'Sindelfingen',
 'Gablingen',
 'Hamburg',
 'Berlin',
 'Düsseldorf',
 'Frankfurt am Main',
 'Stuttgart',
 'München',
 'München',
 'Hamburg',
 'Mainz',
 'Langenhagen / Hannover',
 'Köln',
 'Berlin',
 'Heidelberg',
 'Oberkochen (Baden-Württemberg)',
 'Frankfurt am Main',
 'Düsseldorf',
 'Wolfsburg',
 'Mönsheim',
 'Düsseldorf',
 'Stuttgart',
 'Villingen-Schwenningen',
 'Oberkochen (Baden-Württemberg)',
 'Ostfildern',
 'Düsseldorf',
 'Köln',
 'Paderborn',
 'München',
 'Heilbronn',
 'Oberkochen (Baden-Württemberg)',
 'Sindelfingen',
 'Bad Staffelstein',
 'Arnsberg',
 'Dresden',
 'Düsseldorf',
 'Wuppertal',
 'Reutlingen',
 'Sindelfingen',
 'München',
 'Essen',
 'München',
 'Wiesbaden',
 'München',
 'München',
 'Oberkochen (Baden-Württemberg)',
 'Köln',
 'Darmstadt',
 'Düsseldorf',
 'Home-Office',
 'Düsseldorf',
 'München',
 'München',
 'München',
 'Oberkochen (Baden-Württemberg)',
 'München',
 'Hechingen',
 'München',
 'Berlin',
 'Berlin',
 'Düsseldorf',
 'Frankfurt',
 'Hof',
 'Mainz',
 'München',
 'Nürnberg',
 'Leipzig',
 'Bonn',
 'Coburg',
 'Braunschweig',
 'Ingolstadt',
 'München',
 'Stuttgart',
 'Frankfurt',
 'Köln',
 'Greven',
 'Mönchengladbach',
 'Münster',
 'bundesweit (Home-Office)',
 'Berlin',
 'Biberach an der Riß',
 'bundesweit',
 'Berlin',
 'Frankfurt am Main',
 'Hamburg',
 'Köln',
 'Leipzig',
 'München',
 'Berlin',
 'Frankfurt',
 'Hamburg',
 'München',
 'Nürnberg',
 'Ulm',
 'Bonn',
 'bundesweit an einem anderen BWI Standort',
 'Ihringen bei Freiburg im Breisgau',
 'Frankfurt am Main',
 'Raum Stuttgart',
 'München',
 'Köln',
 'Hannover',
 'Berlin',
 'Jena',
 'Oberkochen (Baden-Württemberg)',
 'München',
 'Berlin',
 'München',
 'Owen',
 'Berlin',
 'Düsseldorf',
 'Frankfurt',
 'Hamburg',
 'München',
 'Köln',
 'Hannover',
 'Münster',
 'Bielefeld',
 'Dortmund',
 'Mannheim',
 'Stuttgart',
 'Karlsruhe',
 'Ingelheim am Rhein',
 'Mannheim',
 'Bönen (bei Hamm)',
 'München',
 'Reutlingen',
 'Leipzig',
 'München',
 'Kempten',
 'Hamburg',
 'Mülheim an der Ruhr',
 'Oberkochen (Baden-Württemberg)',
 'Düsseldorf',
 'Reken',
 'Dortmund',
 'Garching bei München',
 'München',
 'Bingen',
 'Stuttgart',
 'Berlin',
 'Frankfurt am Main',
 'Home-Office',
 'Berlin',
 'Osnabrück',
 'Frankfurt am Main',
 'Hamburg',
 'München',
 'Düsseldorf',
 'München',
 'Abstatt bei Stuttgart',
 'Mainz',
 'Stuttgart',
 'Essen',
 'Ennepetal',
 'Mandern',
 'Köln',
 'München',
 'München',
 'München',
 'Bochum',
 'Offenbach am Main',
 'Chemnitz',
 'bundesweit',
 'Home-Office',
 'Offenburg',
 'Neuffen',
 'Köln',
 'Berlin',
 'Empfingen',
 'Oberkochen (Baden-Württemberg)',
 'Ratingen',
 'Andernach',
 'Regensburg',
 'Berlin (Schöneberg)',
 'Braunschweig',
 'Oldenburg',
 'Nürnberg',
 'München',
 'Mannheim',
 'Ulm',
 'Karlsruhe',
 'Stuttgart',
 'Regensburg',
 'Würzburg',
 'Neu-Isenburg',
 'Frankfurt',
 'Montabaur',
 'Essen',
 'Düsseldorf',
 'Köln',
 'Stuttgart',
 'München',
 'Frankfurt',
 'Köln',
 'Berlin',
 'Hamburg',
 'Berlin',
 'Leipzig',
 'Erfurt',
 'Düsseldorf',
 'Augsburg',
 'Nürnberg Würzburg',
 'Hannover',
 'Leipzig',
 'Hamburg',
 'Berlin',
 'Hannover',
 'Köln',
 'Düsseldorf',
 'Essen',
 'Kupferzell',
 'Berlin',
 'Duisburg',
 'Bühl',
 'Unterföhring (bei München)',
 'Düsseldorf',
 'Frankfurt/Main',
 'Berlin',
 'Dresden',
 'Eschborn',
 'Essen',
 'München',
 'München',
 'Hamburg',
 'Essen',
 'Oberkochen (Baden-Württemberg)',
 'Nürnberg',
 'Hamburg',
 'Oberkochen (Baden-Württemberg)',
 'Köln',
 'Dresden',
 'Regensburg',
 'Hamburg',
 'Niedersachsen',
 'Niedersachen',
 'Düsseldorf',
 'BERLIN',
 'GERMANY',
 'Hemmingen',
 'Hannover',
 'Hamburg',
 'Hannover',
 'Gütersloh',
 'Hamburg',
 'Köln',
 'Münster',
 'Hamburg',
 'München',
 'Köln',
 'Sindelfingen',
 'Ulm',
 'Stuttgart',
 'Winnenden bei Stuttgart',
 'München',
 'München',
 'Wörth',
 'Grünwald (bei München)',
 'München',
 'Ulm',
 'Stuttgart',
 'Oberkochen (Baden-Württemberg)',
 'Luxemburg',
 'Mannheim',
 'Home-Office',
 'bundesweit',
 'Spanien',
 'Irland',
 'Großbritannien',
 'Niederlande',
 'Düsseldorf or Palma de Mallorca',
 'Oberkochen (Baden-Württemberg)',
 'Köln',
 'Dieburg',
 'München',
 'München',
 'München',
 'München',
 '',
 'München',
 'Herzogenaurach',
 'Frankfurt am Main',
 'Frankfurt am Main',
 'Frankfurt am Main',
 'Frankfurt am Main',
 'Hamburg',
 'Dortmund',
 'Berlin',
 'Oberkochen',
 'Schwaig bei Nürnberg',
 'München',
 'Hannover',
 'Abstatt bei Stuttgart',
 'Heidelberg',
 'Stuttgart',
 'bundesweit',
 'Oberkochen (Baden-Württemberg)',
 'D-PLZ 73',
 'D-PLZ 81',
 'Reinbek',
 'Bramsche bei Osnabrück',
 'Berlin',
 'Berlin',
 'Home-Office',
 'Essen',
 'Grafschaft',
 'Fürth',
 'Gescher',
 'Gütersloh',
 'Hamburg',
 'Neu-Ulm',
 'Wiesbaden',
 'Wolfsburg',
 'Berlin',
 'Köln',
 'Hamburg',
 'Stuttgart',
 'Dortmund',
 'Nürnberg',
 'Frankfurt',
 'München',
 'München',
 'München',
 'Karlsruhe',
 'Frankfurt',
 'Karlsruhe',
 'Berlin',
 'Frankfurt am Main',
 'Köln',
 'München',
 'Hybrid (Homeoffice)',
 'Weiden',
 ...]

In [4]:
staedte_series = pd.Series(staedte_list)
staedte_df = pd.DataFrame(staedte_series)
staedte_df.rename(columns={0:"Stadt"}, inplace=True)
staedte_df= pd.DataFrame(staedte_df.value_counts())
staedte_df = staedte_df.reset_index()
staedte_df

                     Stadt  count
0                  München   1312
1                  Hamburg   1079
2                   Berlin   1048
3                     Köln    713
4                Stuttgart    606
...                    ...    ...
1205                 Lemgo      1
1206               Lengede      1
1207  Leonberg (Stuttgart)      1
1208   Leutkirch im Allgäu      1
1209        Berlin-Zentrum      1

[1210 rows x 2 columns]

In [5]:
staedte_df.sort_values("Stadt").head(50)

                          Stadt  count
23                                  78
1137             ...und weitere      1
609                       01-09      1
239                       10557      4
580                       10787      1
585                       20-29      1
638                       30-39      1
643                       40-48      1
647                       40221      1
613            40227 Düsseldorf      1
627                       40882      1
519                       50-59      1
527                  51149 Köln      1
557                       60-69      1
71                        69190     21
565                       70-79      1
533            75217 Birkenfeld      1
501                       76131      2
762                       80-89      1
763                       80636      1
818                       85748      1
776                       88677      1
757                       90-99      1
38                       Aachen     42
480          Aachen/ Düsseldorf      2
119                       Aalen      9
189   Aalen (Baden-Württemberg)      5
806                    Abersloh      1
466                     Abstatt      2
327       Abstatt bei Stuttgart      3
92                        Achim     15
690                 Achim-Uesen      1
693                    Adendorf      1
661                      Afrika      1
477                       Ahaus      2
671                     Ahlbeck      1
702                       Ahlen      1
151                  Ahrensburg      7
713    Ahrensburg (bei Hamburg)      1
435      Ahrensburg bei Hamburg      2
710                     Aichach      1
709                     Aichtal      1
705                    Albbruck      1
717                    Albstadt      1
390              Alfeld (Leine)      2
30               Alle Standorte     57
734                Allershausen      1
728                      Almere      1
718            Alsbach-Hähnlein      1
722          Alsdorf bei Aachen      1

In [76]:
display(jobs_df[jobs_df["Ort"] == "Braunschweig"].groupby("Unternehmen").size().sort_values(ascending=False))
display(jobs_df.query("Unternehmen == 'NEW YORKER'"))

Unternehmen
NEW YORKER                                      12
AUEL EDV-Beratung GmbH                           6
Volkswagen Financial Services AG                 4
ZEISS                                            4
August Reiners Bauunternehmung GmbH              1
BMA Braunschweigische Maschinenbauanstalt AG     1
FERCHAU GmbH                                     1
IU Internationale Hochschule                     1
KOSATEC Computer GmbH                            1
Oeding Unternehmensgruppe                        1
dtype: int64

,Titel,Unternehmen,Ort,Gehalt_min,Gehalt_max,JobID,Link,Datum,Teilzeit_Remote,Introduction,Description,Profile,We_offer,Contact
309,(Senior) Data Science Consultant*,NEW YORKER,"Berlin (Schöneberg), Braunschweig",,,57336569,https://www.stepstone.de/stellenangebote--seni...,2023-09-04,Vollzeit,Als inhabergeführtes Modeunternehmen mit weltw...,Erarbeiten und Umsetzen betriebswirtschaftlich...,"Studium der Wirtschaftswissenschaften, Ökonome...","Ein sicherer, unbefristeter Arbeitsplatz in ei...",Bewirb Dich bitte über unser Online-Bewerbungs...
442,IT System Engineer* Data Center,NEW YORKER,"Berlin (Schöneberg), Braunschweig",,,57289288,https://www.stepstone.de/stellenangebote--proj...,2023-09-04,Vollzeit,"Mit unseren Marken BMW, MINI, Rolls-Royce und ...",DAS PRODUKT IST DAS HERZ. DIE IT DAS NERVENSYS...,Was bringst du mit?\nStudienabschluss in Infor...,Was bieten wir dir?\n30 Urlaubstage.\nAttrakti...,Stellenreferenz: 102344 \n \nAnsprechpartner:...
1260,(Junior) Controller* Schwerpunkt Warencontrolling,NEW YORKER,Braunschweig,,,57581363,https://www.stepstone.de/stellenangebote--juni...,2023-09-04,Vollzeit,"Unsere Abteilungen Controlling, Treasury, Rech...","Prüfung, Analyse und Kommentierung von Warenei...",Erfolgreich abgeschlossenes Studium mit Schwer...,Als inhabergeführtes Modeunternehmen mit weltw...,Bewirb Dich bitte über unser Online-Bewerbungs...
1819,(Junior) Recruiting Specialist* Schwerpunkt Ve...,NEW YORKER,Braunschweig,,,57404842,https://www.stepstone.de/stellenangebote--juni...,2023-09-04,Vollzeit,Bei uns steht der Mensch im Fokus! Als individ...,Proaktive Unterstützung des Vertriebsbereiches...,Erfolgreich abgeschlossene kaufmännische Ausbi...,Als inhabergeführtes Modeunternehmen mit weltw...,Bewirb Dich bitte über unser Online-Bewerbungs...
1823,Junior Projektmanager* für Neueröffnungen und ...,NEW YORKER,Braunschweig,,,57625132,https://www.stepstone.de/stellenangebote--juni...,2023-09-04,Vollzeit,Unsere inhouse Marketingexperten regeln die ko...,"Analyse, Planung, Durchführung und Kontrolle v...",Abgeschlossenes Studium im Bereich Marketing o...,Als inhabergeführtes Unternehmen mit über 1.20...,Bewirb Dich bitte über unser Online-Bewerbungs...
1865,(Junior) Prozessmanager* / Projektmanager* für...,NEW YORKER,Braunschweig,,,57409742,https://www.stepstone.de/stellenangebote--juni...,2023-09-04,Vollzeit,Du suchst einen Arbeitsplatz in einem attrakti...,"Analyse, Konzeptionierung und Controlling logi...",Du punktest mit einem Studium der Ingenieur- o...,"Ein sicherer, unbefristeter Arbeitsplatz in ei...",​​​​​Bewirb Dich bitte über unser Online-Bewer...
1874,(Junior) Controller* Schwerpunkt Finanzcontrol...,NEW YORKER,Braunschweig,,,57523515,https://www.stepstone.de/stellenangebote--juni...,2023-09-04,Vollzeit,"Unsere Abteilungen Controlling, Treasury, Rech...","Unterstützung bei Prüfung, Analyse und Komment...",Erfolgreich abgeschlossenes Studium mit Schwer...,Als inhabergeführtes Modeunternehmen mit weltw...,Bewirb Dich bitte über unser Online-Bewerbungs...
2527,(Junior) Projektmanager* / Einkäufer* im strat...,NEW YORKER,Braunschweig,,,57489958,https://www.stepstone.de/stellenangebote--juni...,2023-09-04,Vollzeit,Du suchst einen Arbeitsplatz in einem attrakti...,Mitarbeit und Erarbeitung von Ergebnissen in a...,Erfolgreich abgeschlossenes Studium oder eine ...,"Ein sicherer, unbefristeter Arbeitsplatz in ei...",Bewirb Dich bitte über unser Online-Bewerbungs...
2905,IT-Security Manager* / Cyber-Security-Consulta...,NEW YORKER,Braunschweig,,,57437482,https://www.stepstone.de/stellenangebote--it-s...,2023-09-04,Vollzeit,DO WHAT YOU LOVE – als eines der größten inter...,In der IT-Governance sind wir erste Ansprechpa...,"Studium im Bereich Informatik, Cybersecurity o...","Ein sicherer, unbefristeter Arbeitsplatz in ei...",Bewirb Dich bitte über unser Online-Bewerbungs...
4076,IT Infrastructure Architect*,NEW YORKER,Braunschweig,,,57448062,https://www.stepstone.de/stellenangebote--it-i...,2023-09-04,Vollzeit,Mit über 200 Mitarbeitern in zehn Fachabteilun...,"Konzeptionieren der konzernweiten System-, Net...",Abgeschlossene Ausbildung oder abgeschlossenes...,"Ein sicherer, unbefristeter Arbeitsplatz in ei...",Bewirb Dich bitte über unser Online-Bewerbungs...
4100,IT Project Lead* Infrastructure,NEW YORKER,Braunschweig,,,57448057,https://www.stepstone.de/stellenangebote--it-p...,2023-09-04,Vollzeit,Mit über 200 Mitarbeitern in zehn Fachabteilun...,"Eigenverantwortliche Leitung, Steuerung und Du...",Erfolgreich abgeschlossenes Studium der Betrie...,"Ein sicherer, unbefristeter Arbeitsplatz in ei...",Bewirb Dich bitte über unser Online-Bewerbungs...
4438,Identity & Access Manager (IAM) / Informatiker...,NEW YORKER,Braunschweig,,,57437483,https://www.stepstone.de/stellenangebote--iden...,2023-09-04,Vollzeit,DO WHAT YOU LOVE – als eines der größten inter...,In der IT-Governance sind wir erste Ansprechpa...,Studium z. B. im Bereich der (Wirtschafts-) In...,"Ein sicherer, unbefristeter Arbeitsplatz in ei...",Bewirb Dich bitte über unser Online-Bewerbungs...
4513,DevOps Engineer*,NEW YORKER,"Berlin (Schöneberg), Braunschweig",,,57448052,https://www.stepstone.de/stellenangebote--devo...,2023-09-04,Vollzeit,Mit über 200 Mitarbeitern in zehn Fachabteilun...,Betreuen und Weiterentwickeln der DevOps-Platt...,Abgeschlossene Ausbildung zum Fachinformatiker...,"Ein sicherer, unbefristeter Arbeitsplatz in ei...",Bewirb Dich bitte über unser Online-Bewerbungs...
4564,IT System Engineer* Platform Services,NEW YORKER,"Berlin (Schöneberg), Braunschweig",,,57448054,https://www.stepstone.de/stellenangebote--it-s...,2023-09-04,Vollzeit,Mit über 200 Mitarbeitern in zehn Fachabteilun...,"Instandhalten, Weiterentwickeln und Optimieren...",Erfolgreich abgeschlossene Ausbildung im IT-Um...,"Ein sicherer, unbefristeter Arbeitsplatz in ei...",Bewirb Dich bitte über unser Online-Bewerbungs...
4799,IT-Lizenzmanager* Software Asset Management,NEW YORKER,Braunschweig,,,57437484,https://www.stepstone.de/stellenangebote--it-l...,2023-09-04,Vollzeit,DO WHAT YOU LOVE – als eines der größten inter...,In der IT-Governance sind wir erste Ansprechpa...,"Informationstechnische (IT), juristische oder ...","Ein sicherer, unbefristeter Arbeitsplatz in ei...",Bewirb Dich bitte über unser Online-Bewerbungs...
6492,Controller* Financial Plannung & Analysis,NEW YORKER,Braunschweig,,,57382300,https://www.stepstone.de/stellenangebote--cont...,2023-09-04,Vollzeit,Als inhabergeführtes Modeunternehmen mit weltw...,Erstellung und Analyse von periodischen Berich...,Erfolgreich abgeschlossenes betriebswirtschaft...,Als inhabergeführtes Modeunternehmen mit weltw...,Bewirb Dich bitte über unser Online-Bewerbungs...