In [3]:
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

script_dir = os.path.abspath("")
mymodule_dir = os.path.join(script_dir, "..", "scripts")
sys.path.append(mymodule_dir)
import cleaning

pd.set_option("mode.copy_on_write", True)
sns.set_theme()
sns.set_style("white")
%config InlineBackend.figure_format = "retina"

jobs = cleaning.prep(pd.read_pickle("../data/jobs.pkl"), filtered=False)

In [4]:
jobs.loc[(jobs["Titel"].str.lower().str.contains("ml")), ["Titel"]]

                                                   Titel
39                  Senior Data Scientist / MLOps(m/w/d)
65     MLOps Engineer / Data Scientist im Servicemana...
187                        Teamlead Data Science (w/m/d)
459            Teamlead Logistics Data Analytics (m/w/d)
604    Data Science Engineer - Azure ML Services (w/m/d)
5066        Teamleitung (m/w/d) Marktforschung & Analyse
5300   Teamleiter fachliche Führung Labore für Analys...
6486   Teamleitung Stammdatenmanagement und Data Scie...
6538   Teamleitung (d/m/w) Logistic Support Analysis ...
6563                    Teamlead – Data Analysis (m/w/d)
6645                    Teamleiter Kreditanalyse (m/w/d)
6727   Financial Analyst Accounting Daimler Truck AG,...
6744                                 AML Analyst (m/w/d)
6773         Business Analyst Erlösdatensammlung (m/w/d)
7510                Teamleader (f/m/d) Business Analysis
7903                  Teamleitung Data Analytics (m/w/d)
7944                           AML / KYC Analyst (m/w/d)
8010                Teamleader (m/w/d) IT Analyst FinOps
8166                ML Engineer / Data Scientist (m/w/d)
8340   Teamleiter (m/w/d) Data Analytics und Process ...
9038                                 AML Analyst (m/w/d)
9240           Teamleiter*in IT Data-Analytics & Trading
9338   Teamleiter Business Intelligence / Data Analys...
13545  Teamleiter Business Analytics und Data Science...
15507   Teamleiter (m/w/d) Data Science - AI-Based Ident
16756                     Data Scientist - AI/ML (m/f/d)
16890  Data Scientist – Data Engineering und MLOPS (m...
16901                  Teamleiter Data Analytics (w/m/d)
16934  Teamleiter Business Analytics und Data Science...